<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <% for (let cssFile in cssFiles) { %>
        <link rel="stylesheet" href="/css/<%= cssFiles[cssFile] %>.css">
    <% } %>
</head>
<body>

    <%- include('partials/header') %>
    <%- include(section + '/index') %>    
    <%- include('partials/footer') %>

    <% for (let jsFile in jsFiles) { %>
        <script src="/js/<%= jsFiles[jsFile] %>.js"></script>
    <% } %>
</body>
</html>